# Database
POSTGRES_USER=supercamp
POSTGRES_PASSWORD=supercamp
POSTGRES_DB=supercamp_dev

# API
DATABASE_URL=postgres://supercamp:supercamp@db:5432/supercamp_dev?sslmode=disable
PORT=8080

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8081
